.App {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  font-family: "Cinzel Decorative";
  width: 100%;
  margin: 24px;
  font-size: 36px;
  font-weight: 600;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .dropdowns {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.dropdown_wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 10px;
}

.dropdown {
  width: 250px;
}

.dropdown_label {
  font-family: "Cinzel";
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 4px;
}

.chart {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  font-weight: 700;
  font-size: 12px;
  font-family: "Cinzel";
}

@media (max-width: 800px) {
  .chart {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    font-weight: 700;
    font-size: 12px;
    font-family: "Cinzel";
  }
}

.jewel {
  font-size: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  display: flex;
  flex-direction: column;
}

.tooltip_pair {
  display: "flex";
  justify-content: "center";
  font-size: 12px;
  font-family: "Cinzel Decorative";
}

.tooltip_label {
  display: "flex";
  justify-content: "center";
  font-family: "Cinzel";
  font-size: 16px;
}

.tooltip_data_item {
  display: "flex";
  justify-content: "center";
  font-family: "Roboto Mono";
  font-size: 14px;
}

.tooltip_item {
  display: "flex";
  justify-content: "center";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
