body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Roboto Mono", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #addd8e;
  --color-on-background: #fff;

  --color-tooltip: rgba(0, 5, 11, 0.9);
  --color-on-tooltip: #fff;

  --color-handle-fill: #2c343a;
  --color-handle-stroke: #67c2e4;
  --color-handle-drag-fill: transparent;
  --color-handle-dots: #67c2e4;
  --color-handle-line: #67c2e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
